{% extends "ermis_base.html" %}

{% load i18n %}
{% block ermis_title %} {% trans "About GeoNode" %} — {{ block.super }} {% endblock %}

{% block ermis_apps %}
                                <li class="menu-item-has-children dropdown"><a href="https://geoportal.ermis-f.eu/static_maps/cyprus.html" class="js-activated btn btn-highlight" ><i class="icon-streamline-filter-picture"></i>{% trans "Flood Maps" %}<span class="caret"></span></a>
                                    <ul role="menu" class="dropdown-menu sub-menu pull-left">

                                        <li><a href="https://kb.ermis-f.eu/" ><i class="icon-streamline-school-graduation"></i>{% trans "Knowledge Base" %}</a></li>
                                        <li><a href="https://cr.ermis-f.eu/" ><i class="icon-streamline-compatible-devices"></i>{% trans "Crowdsourcing" %}</a></li>
 <li><a href="https://geoportal.ermis-f.eu/" ><i class="icon-streamline-group-global"></i>{% trans "Geoportal" %}</a></li>


                                        <li><a href="https://sm.ermis-f.eu/" ><i class="icon-streamline-friends"></i>{% trans "Social Media" %}</a></li>
                                        <li><a href="https://ermis-f.eu/" ><i class="icon-home"></i>{% trans "ERMIS-F" %}</a></li>
                                    </ul>
                                </li>
                                {% endblock ermis_apps %}

 {% block ermis_app_menu %}
     <li class="menu-item-has-children dropdown"><a href="#" class="js-activated" >{% trans "Cyprus" %} <span class="caret"></span></a>
                                    <ul role="menu" class="dropdown-menu sub-menu pull-left">
                                        <li><a href="https://geoportal.ermis-f.eu/static_maps/vaigaio.html" >{% trans "North Aegean" %}</a></li>
                                        <li><a href="https://geoportal.ermis-f.eu/static_maps/crete.html" >{% trans "Crete" %}</a></li>
                                    </ul>
                 </li>

 {% endblock %}




{% block ermis_content %}
<div style="padding:60px;">
<h2 class="text-center">{% trans "ERMIS-F Flood Maps" %}</h2>
<br/>
<div class="container">
<div class="row">
Οι Πλημμυρικοί Χάρτες δείχνουν τις περιοχές υψηλής επικινδυνότητας των περιφερειών που έχουν ενταχθεί στο έργο: Κύπρος, Κρήτη, & Βόρειο Αιγαίο
</div>
<br/>
</div>
</div>
{% endblock %}
