
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta Http-Equiv="Cache-Control" Content="no-cache">
    <meta Http-Equiv="Pragma" Content="no-cache">
    <meta Http-Equiv="Expires" Content="0">
    <meta Http-Equiv="Pragma-directive: no-cache">
    <meta Http-Equiv="Cache-directive: no-cache">
    <link rel="shortcut icon" href="/static/static_maps/img/Ermis-ico16x16.jpg" type="image/x-icon">
    <title> PDF Πλημμυρικοί Χάρτες</title>
    

    <style>
        #paneltbar {
            margin-top: 90px !important;
        }
    </style>

    <link rel="stylesheet" href="/static/static_maps/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/static_maps/css/dropdown_style.css">
<link rel="stylesheet" href="/static/static_maps/css/animate.min.css">
  <link rel="stylesheet" href="/static/static_maps/css/mobirise_style.css">
  <link rel="stylesheet" href="/static/static_maps/css/mbr-additional.css" type="text/css">
  <link rel="stylesheet" href="/static/static_maps/css/ermis.css">
<link rel="stylesheet" type="text/css" href="/static/static_maps/geoexplorer/externals/ext/resources/css/ext-all.css?v=2.8.1rc0" />
<script type="text/javascript" src="/static/static_maps/geoexplorer/externals/ext/adapter/ext/ext-base.js?v=2.8.1rc0"></script>
<script type="text/javascript" src="/static/static_maps/geoexplorer/externals/ext/ext-all.js?v=2.8.1rc0"></script>

<script type="text/javascript">
  Ext.Ajax.defaultHeaders = { 'X-CSRFToken': 'fuvmHFZEjX3w6veEV3h5dVTbPkdiq7Q5' };
  Ext.BLANK_IMAGE_URL = "/static/static_maps/geoexplorer/externals/ext/resources/images/default/s.gif";
</script>



<!--[if IE]><link rel="stylesheet" type="text/css" href="/static/geoexplorer/theme/app/ie.css"/><![endif]-->





<script type="text/javascript" src="/static/static_maps/geonode/js/utils/thumbnail.js"></script>

	
  
    <link rel="search" type="application/opensearchdescription+xml" href="/catalogue/opensearch" title="GeoNode Search"/>
  </head>

  <body class="">
    <!-- Navbar -->
 <section class="menu cid-qTkzRZLJNu" once="menu" id="menu1-0">   
	 <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>
        <div class="menu-logo">
            <div class="navbar-brand">
                <span class="navbar-logo">
                    <a href="https://ermis-f.eu">
                         <img src="/static/static_maps/img/logoermislong2-708x153.png" alt="Mobirise" title="" style="height: 3.8rem;">
                    </a>
                </span>

            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
                 <li class="nav-item dropdown">
                    <a class="nav-link link text-warning dropdown-toggle display-4" href="https://#" data-toggle="dropdown-submenu" aria-expanded="false">
                     Πλημμυρικοί Χάρτες
                    </a>
                    <div class="dropdown-menu">
                        <a class="text-warning dropdown-item display-4" href="https://geoportal.ermis-f.eu/static_maps/cyprus.html">Κύπρου</a>
                        <a class="text-warning dropdown-item display-4" href="https://geoportal.ermis-f.eu/static_maps/lesvos.html">Βορείου Αιγαίου</a>
                        <a class="text-warning dropdown-item display-4" href="https://geoportal.ermis-f.eu/static_maps/crete.html">Κρήτης</a>
                     </div>
                </li>

                 <li class="nav-item dropdown">
                    <a class="nav-link link text-warning dropdown-toggle display-4" href="https://#" data-toggle="dropdown-submenu" aria-expanded="false">
                        Εφαρμογές Ermis-F
                    </a>
                    <div class="dropdown-menu">
                 <!--       <a class="text-warning dropdown-item display-4" href="https://geoportal.ermis-f.eu/static_maps/cyprus.html">Πλυμμηρικοί Χάρτες</a>-->
                        <a class="text-warning dropdown-item display-4" href="https://geoportal.ermis-f.eu">Γεωπύλη</a>
                        <a class="text-warning dropdown-item display-4" href="https://kb.ermis-f.eu/kb/">Βάση Γνώσης</a>
                        <a class="text-warning dropdown-item display-4" href="https://kb.ermis-f.eu/map/dashboard/">Εφαρμογή Πληθοπορισμού</a>
                        <a class="text-warning dropdown-item display-4" href="https://kb.ermis-f.eu/social/feed/">Εφαρμογή Κοινωνικής Δικτύωσης</a>
                        <a class="text-warning dropdown-item display-4" href="#" disabled>Σύστημα Έγκαιρης Προειδοποίησης</a>

                    </div>
                </li>

            </ul>
        </div>
    </nav>
</section>
<div class="container ermis-content">
<div class="center">
<div style="width:100%; text-align:center; font-size:22px;" ><b>ΧΑΡΤΕΣ PDF</b></div>
<table >
<tr>
<td style="width:320px" valign="top"><a href="/static/static_maps/pdf/GR14_P02_S1_stations.pdf" target="new">
<img src="/static/static_maps/pdf/GR14_P02_S1_stations.png" height="200px" width="300px"></br>ΔΙΚΤΥΟ ΔΙΑΘΕΣΙΜΩΝ ΒΡΟΧΟΜΕΤΡΙΚΩΝ ΚΑΙ ΒΡΟΧΟΓΡΑΦΙΚΩΝ ΣΤΑΘΜΩΝ</a></td>
<td style="width:320px" valign="top"><a href="/static/static_maps/pdf/GR14_P02_S2_stationsIDF.pdf" target="new">
<img src="/static/static_maps/pdf/GR14_P02_S2_stationsIDF.png" height="200px" width="300px"></br>
ΔΙΚΤΥΟ ΧΡΗΣΙΜΟΠΟΙΗΘΕΝΤΩΝ ΒΡΟΧΟΜΕΤΡΙΚΩΝ ΚΑΙ ΒΡΟΧΟΓΡΑΦΙΚΩΝ ΣΤΑΘΜΩΝΓΙΑ ΤΗΝ ΠΑΡΑΓΩΓΗ ΟΜΒΡΙΩΝ ΚΑΜΠΥΛΩΝ</a></td>
<td style="width:320px" valign="top"><a href="/static/static_maps/pdf/GR14_P02_S3kappa.pdf" target="new">
<img src="/static/static_maps/pdf/GR14_P02_S3kappa.png" height="200px" width="300px"></br>
ΖΩΝΕΣ ΤΙΜΩΝ ΠΑΡΑΜΕΤΡΟΥ ΣΧΗΜΑΤΟΣ Κ</a></td>
</tr>
<tr><td><a href="/static/static_maps/pdf/GR14_P02_S4lamda.pdf" target="new">
<img src="/static/static_maps/pdf/GR14_P02_S4lamda.png" height="200px" width="300px"></br>
ΧΩΡΙΚΗ ΠΑΡΕΜΒΟΛΗ ΠΑΡΑΜΕΤΡΟΥ ΚΛΙΜΑΚΑΣ λ</a></td>
<td><a href="/static/static_maps/pdf/GR14_P02_S5psi.pdf" target="new">
<img src="/static/static_maps/pdf/GR14_P02_S5psi.png" height="200px" width="300px"></br>
ΧΩΡΙΚΗ ΠΑΡΕΜΒΟΛΗ ΠΑΡΑΜΕΤΡΟΥ ΘΕΣΗΣ ψ</a></td>
<td></td>
</tr>
</table>


</div>
</div>
      
      <!-- End of Navbar -->

    <!-- Modal must stay outside the navbar -->
    
    <!-- End of Modal -->
<footer>
      <section once="footers" class="cid-rxxDMDsYMV" id="footer6-5">
        <div class="container">
              <div class="media-container-row align-left mbr-white">
            <div class="col-12">
                <p class="mbr-text mb-0 mbr-fonts-style display-7">
                    <img src="/static/static_maps/img/interreg-greece-cyprus-logo-negative-192x105.png" align="left" alt="Interreg Greece-Cyprus logo" width="92" height="50" />
                </p>
                <p style="font-size: 12px;">
                    Η δημιουργία της ιστοσελίδας συγχρηματοδοτείται από την Ευρωπαϊκή Ένωση (Ε.Τ.Π.Α.)
                    και από Εθνικούς πόρους της Ελλάδας και της Κύπρου. Το περιεχόμενο της ιστοσελίδας
                    αποτελεί αποκλειστική ευθύνη του ονόματος του δικαιούχου και δεν μπορεί σε καμία
                    περίπτωση να αντικατοπτρίζει τις απόψεις της Ευρωπαϊκής Ένωσης, των συμμετεχουσών
                    χωρών και της Διαχειριστικής Αρχής.
                </p>
            </div>
          </div>
        </div>
      </section>

 <section class="cid-rxxsIK2ASu" id="footer5-3">
        <div class="container">

          <div class="media-container-row">
              <div class="col-md-3">
              </div>
          </div>

          <div class="footer-lower">

              <div class="col-md-12">
                  &nbsp;
              </div>

              <div class="media-container-row mbr-white">
                  <div class="col-md-6 ">
                      <p style="color: white;">
                          © Copyright 2019 Ermis-F - All Rights Reserved
                      </p>
                  </div>

                  <div class="col-md-6">
                      <div class="social-list align-right">
                        <div class="soc-item">
                          <a href="https://twitter.com/" target="_blank">
                              <img src="/static/static_maps/img/tweetericon.png" align="left" alt="" height="30" />
                          </a>
                        </div>
                        <div class="soc-item">
                          <a href="https://www.facebook.com/" target="_blank">
                              <img src="/static/static_maps/img/facebookicon.png" align="left" alt="" height="30" />
                          </a>
                        </div>
                        <div class="soc-item">
                          <a href="https://www.youtube.com/" target="_blank">
                              <img src="/static/static_maps/img/youtubeicon.png" align="left" alt="" height="30" />
                          </a>
                        </div>
                        <div class="soc-item">
                          <a href="https://instagram.com/" target="_blank">
                              <img src="/static/static_maps/img/instagramicon.png" align="left" alt="" height="30" />
                          </a>
                        </div>
                        <div class="soc-item">
                          <a href="https://linkedin/" target="_blank">
                              <img src="/static/static_maps/img/linkedinicon.png" align="left" alt="" height="30" />
                          </a>
                        </div>
                      </div>
                  </div>
              </div> <!-- class="media-container-row mbr-white" -->

            </div> <!--class="footer-lower"-->
        </div> <!--class="container"-->
      </section>
  </footer>


    
    <script src="/static/static_maps/lib/js/assets.min.js?v=2.8.1rc0"></script>
    
    <script src="/static/static_maps/geonode/js/utils/utils.js?v=2.8.1rc0"></script>
    <script src="/static/static_maps/geonode/js/base/base.js?v=2.8.1rc0"></script>
    
  <script src="/static/static_maps/js/jquery.min.js"></script>
  <script src="/static/static_maps/js/bootstrap.min.js"></script>
  <script src="/static/static_maps/js/smooth-scroll.js"></script>
  <script src="/static/static_maps/js/nav-dropdown.js"></script>
  <script src="/static/static_maps/js/jquery.touch-swipe.min.js"></script>
  <script src="/static/static_maps/js/script.js"></script>
  <script src="/static/static_maps/js/navbar-dropdown.js"></script>


  <div id="scrollToTop" class="scrollToTop mbr-arrow-up">
    <a style="text-align: center;">
        <i class="mbr-arrow-up-icon mbr-arrow-up-icon-cm cm-icon cm-icon-smallarrow-up"></i>
    </a>
  </div>

  <input name="animation" type="hidden">

    
  </body>
</html>
